@use "@sass/mixins" as *;
@use "@sass/variables" as *;

.logo {
  @include centerFlex(space-between);
  gap: 1rem;
}
.logo:hover span {
  color: $yellow;
}
.dark .logo span {
  color: $yellow;
}
.logo__img {
  max-width: 4.5rem;
  flex-basis: 10%;
}
