@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.social__container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2rem;
  margin-top: 2rem;
  @include respond-to("medium") {
    justify-content: center;
  }

  .social__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 1rem;
  }
  .social__icon {
    width: 30px;
    color: $yellow;
  }
  .social__tooltip {
    display: none;
    padding: 0.3rem 8px;
    background: $yellow;
    min-width: 37px;
    text-align: center;
    position: absolute;
    top: 36px;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 7px;
    z-index: 20;
    &:before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent $yellow transparent;
      transform: translate(-50%);
    }
  }
}
.social__link-1 {
  -webkit-animation: bounce-in-bottom 1.2s 1.9s both;
  animation: bounce-in-bottom 1.5s 1.9s both;
}
.social__link-2 {
  -webkit-animation: bounce-in-bottom 1.2s 1.9s both;
  animation: bounce-in-bottom 1.5s 2s both;
}
.social__link-3 {
  -webkit-animation: bounce-in-bottom 1.2s 1.9s both;
  animation: bounce-in-bottom 1.5s 2.1s both;
}
.social__link:hover .social__tooltip {
  display: block;
}

.dark {
  .social__link {
    filter: drop-shadow(0 0 12px $yellow);
  }
}
