@use "@sass/mixins" as *;
@use "@sass/variables" as *;

.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 3rem 10rem;
  background: $black;
  min-height: 15dvh;
  color: $white;

  &__container {
    @include centerFlex(space-between, start);
    flex-wrap: wrap;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__title {
      font-size: 2.2rem;
      color: $white;
      text-align: center;
      .dark-mode & {
        color: $yellow;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__link {
    color: $ufo-yellow;

    &:hover {
      color: $white;
    }
  }
  &__credits {
    @include centerFlex(start);
    gap: 1rem;
  }

  &__copy {
    font-size: 1.28rem;
    width: 60%;
  }
}

@include respond-to("medium") {
  .footer {
    padding: 3rem 2rem;

    &__credits {
      @include centerFlex(center, center);
      text-align: center;
    }

    &__link {
      flex-direction: column;
      gap: 2rem;
    }

    &__container {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  }
}
.neon-text {
    color: $white;
    text-shadow: 0 0 0px #ff005e, 0 0 2px #ff005e, 0 0 4px #ff005e, 0 0 6px #ff005e, 0 0 8px #ff005e;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 0px #ff005e, 0 0 2px #ff005e, 0 0 4px #ff005e, 0 0 6px #ff005e, 0 0 8px #ff005e;
    }
    100% {
        text-shadow: 0 0 0px #00d4ff, 0 0 2px #00d4ff, 0 0 4px #00d4ff, 0 0 6px #00d4ff, 0 0 8px #00d4ff;
    }
}

