@use "@sass/mixins" as *;
@use "@sass/variables" as *;

@use "@atoms/ProfilePicture/profile-picture";

.hero {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  padding-block: 20px;
  writing-mode: horizontal-tb;
}
.hero__container {
  //@include centerFlex(space-evenly);
  //gap: 10rem;
  flex-wrap: wrap-reverse;
  width: 100%;
  max-width: 1300px;
  margin-top: 30rem;
  @include respond-to("medium") {
    gap: 1rem;
  }
}
.hero__content {
  @include leftFlex(flex-start);
  flex-direction: column;
  @include respond-to("medium") {
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 100%;
    // Estilo para modo oscuro
    .dark-mode & {
      background: rgb(7 13 36 / 29%);
    }
  }

  .hero__title {
    color: white;
    font-size: 7rem;
    filter: drop-shadow(0 0 12px aqua);
    @include respond-to("medium") {
      margin-bottom: 2rem;
      text-align: center;
      font-size: 3.9rem;
    }
    span {
      animation: flicker-v-2 3s ease;
    }
  }

  span:hover {
    color: aqua;
  }

  .text__container {
    display: inline-block;
  }
  .hero__slogan {
    @include text-gradient("ligth");
    display: inline;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    filter: drop-shadow(0 0 12px aqua);
    color: $ufo-green;
    // Estilo para modo oscuro
    .dark-mode & {
      color: $aqua;
    }

    @media screen and (max-width: 728px) {
      font-size: 1.8rem;
      letter-spacing: normal;
      padding-right: 10 px;
      margin-right: 4px; //barra principal
      //animation: none;
      //border-right: none;
    }
  }
}

.container__icons {
  @include respond-to("medium") {
    display: none;
  }
}
.dark .hero__title span {
  color: aqua;
  filter: drop-shadow(0 0 12px aqua);
}
/* animation cursor blinking */
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
/*  animation typing effect*/

@keyframes typing {
  from {
    width: 0;
  }
}
.ball-rotation {
  display: inline-block;
  animation: rodar 5s linear infinite;
  filter: drop-shadow(0 0 12px aqua);
}

@keyframes rodar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
