@use "@sass/mixins" as *;
@use "@sass/variables" as *;

.hero {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  padding-block: 20px;
  writing-mode: horizontal-tb;
}
.hero__container {
  flex-wrap: wrap-reverse;
  width: 100%;
  max-width: 1300px;
  margin-top: 20rem;
  @include respond-to("medium") {
    margin-top: 15rem;
  }
}
.hero__content {
  @include leftFlex(flex-start);
  flex-direction: column;
  @include respond-to("medium") {
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 100%;
  }

  .hero__title {
    color: $white;
    font-size: 7rem;
    filter: drop-shadow(0 0 12px $yellow);
    @include respond-to("medium") {
      text-align: center;
      font-size: 5em;
    }
    span {
      animation: flicker-v-2 3s ease;
    }
  }

  span:hover {
    color: $yellow;
  }

  .text__container {
    width: fit-content;
    display: flex;
    text-align: end;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    @include respond-to("medium") {
      display: flex;
      text-align: center;
      align-items: center;
      padding-top: 3rem;
    }
  }
  .hero__slogan {
    @include text-gradient("ligth");
    display: inline;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    filter: drop-shadow(0 0 12px $yellow);
    color: $ufo-yellow;
    font-family: "Brush Script MT", "Lucida Handwriting", cursive;
    @include respond-to("medium") {
      font-size: 4rem;
      letter-spacing: normal;
      padding-right: 10 px;
      margin-right: 4px; //barra principal
    }
  }
}

.container__icons {
  @include respond-to("medium") {
    display: none;
  }
}
.dark .hero__title span {
  color: $yellow;
  filter: drop-shadow(0 0 12px $yellow);
}
/* animation cursor blinking */
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
/*  animation typing effect*/

@keyframes typing {
  from {
    width: 0;
  }
}
.ball-rotation {
  display: inline-block;
  animation: rodar 5s linear infinite;
  filter: drop-shadow(0 0 12px $yellow);
}
#fullscreen-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
}

.overlay-content {
  position: relative;
  z-index: 1;
  color: $white;
  text-align: center;
  padding-top: 20vh;
}

#btnVolumen {
  position: absolute;
  bottom: 20px;
  left: 1rem;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.6);
  color: $white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 9999999999;
}

@keyframes rodar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
