---
import BackgroundIconsFloat from "@src/components/atoms/BackgroundIconsFloat/BackgroundIconsFloat.astro";
import ProfilePicture from "@src/components/atoms/ProfilePicture/ProfilePicture.astro";
import SocialIcons from "@src/components/atoms/SocialIcons/SocialIcons.astro";
import { userData } from "../../../data/userData.js";
---

<section class="hero">
  <video class="fullscreen-video" autoplay loop>
    <source src="/videos/intro.mp4" type="video/mp4" />
  </video>
  <div class="hero__container">
    <div class="hero__content">
      <h1 class="hero__title">{userData.name}</h1>
      <h1 class="hero__title">
        <span class="span__blink">{userData.lastName}</span>
      </h1>
      <div class="text__container">
        <b></b>
        <p class="hero__slogan">
          {userData.sloganHero1}
          <div class="ball-rotation">
            <iconify-icon icon="emojione:soccer-ball" width="30" height="30"
            ></iconify-icon>
          </div>
        </p>
      </div>
    </div>
    <SocialIcons />
  </div>
</section>

<style>
  .fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7;
  }

  .overlay-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 20vh;
  }
</style>
