@use "@sass/mixins" as *;
@use "@sass/variables" as *;

.skills {
  background: $cetacean-blue;
  width: 100%;
  display: flex;
  justify-content: center;
  writing-mode: horizontal-tb;
  padding-block: 8rem;
  min-height: 100dvh;

  @include respond-to("medium") {
    padding-block: 10rem;
  }

  &__container {
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    padding: 2rem 5rem;
    justify-content: center;
  }
}

.skills__carousel--tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  margin-top: 5rem;

  h2 {
    padding: 8rem 0 8rem 0;
    @include respond-to("medium") {
      margin: 0;
      text-align: center;
    }
  }
}

.card-banner {
  border-top-left-radius: var(30px);
}

.img-cover {
  border-top-left-radius: 50px; /* Las demás esquinas quedan rectas */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 300px;
  height: auto;
  .dark-mode & {
    border: 1px solid $yellow;
    filter: drop-shadow(0 0 12px $yellow);
  }
}

.card-content {
  position: relative;
  width: 270px;
  margin-inline-start: 30px;
  margin-block-start: -40px;
  background-color: hsl(0, 0%, 100%);
  padding: 30px 35px;
  box-shadow: 0 15px 40px 0 hsla(223, 34%, 37%, 0.1);
  border-bottom-right-radius: 30px;
  animation: floating 4s linear infinite;
  .dark-mode & {
    color: $ufo-red;
    border: 1px solid $yellow;
    filter: drop-shadow(0 0 12px $yellow);
  }
}

.publish-date {
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: $ufo-red;
  color: hsl(0, 0%, 100%);
  padding: 6px 25px;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  border-top-left-radius: 20px;
}

.card-meta-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
}

.card-meta-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-meta-item ion-icon {
  color: $mainColor;
}

.card-meta-item .span {
  font-size: 1.4rem;
}

.card-title {
  margin-block-start: 10px;
  transition: 0.25s ease;
}

.categorie-text:is(:hover, :focus-visible) {
  color: $ufo-yellow;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4rem;
  padding: 8rem 10rem 8rem 10rem;
  @include respond-to("medium") {
    padding: 0;
    padding-top: 10rem;
    margin-left: -1rem;
  }
}
