@use "@sass/mixins" as *;
@use "@sass/variables" as *;

.skills {
  background: $cetacean-blue;
  width: 100%;
  display: flex;
  justify-content: center;
  writing-mode: horizontal-tb;
  padding-block: 8rem;
  min-height: 100dvh;

  @include respond-to("medium") {
    padding-block: 10rem;
  }

  &__container {
    @include centerFlex(center, flex-start);
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    padding: 2rem 1rem;

    .skills__info {
      @include centerFlex();
      align-self: center;
      align-items: normal !important;
      max-width: 950px;
      gap: 12rem;

      @include respond-to("medium") {
        flex-wrap: wrap;
      }

      .skills__textos {
        max-width: 62rem;
        width: 100%;
      }

      .skills__description {
        @include font-family("textos");
        color: #f1f1f1;
        font-size: 1.7rem;
        max-width: 52rem;
        line-height: 1.5;
        align-self: center;
        white-space: pre-line;
        margin-bottom: 1rem;
        text-align: justify;
        @include respond-to("medium") {
          padding-left: 2rem;
          padding-right: 2rem;
        }
      }

      .skills__description--subtitle {
        font-weight: bold;
        color: $aqua;
        // Estilo para modo oscuro
        .dark-mode & {
          color: $ufo-green;
          filter: drop-shadow(0 0 5px $ufo-green);
        }
        //@include text-gradient("dark");
      }

      .skills__avatar__container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        position: relative;
        flex-shrink: 0;
        // height: 100%;
        padding: 1rem;
      }
    }
  }
}
.skills__section {
  @include respond-to("medium") {
    display: flex;
    flex-direction: column;
  }
}
.skills__caja {
  @include respond-to("medium") {
    position: initial;
    z-index: 1;
  }
}
.skills__image {
  @include respond-to("medium") {
    position: relative;
    z-index: 0;
    visibility: hidden;
  }
}

.skills__popup {
  width: max-content;
  max-width: 54rem;
  bottom: 50%;
  left: 60%;
  z-index: 200;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease;
  @include respond-to("medium") {
    bottom: -24%;
    left: 50%;
    max-width: none;
    width: 100%;
  }

  .skills__terminal__content {
    padding: 0.4rem;
    white-space: pre-line;
    @include typography(1.6rem, 1.5, 400);
    @include font-family("fira-code");
  }

  @include respond-to("medium") {
    .skills__popup {
      bottom: 67%;
    }

    .skills__terminal__content {
      font-size: 1.7rem;
    }
  }
}

.skills__terminal__textos {
  color: #f1f1f1;
  filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

.skills__popup.active {
  display: block;
  opacity: 1;
}

.skills__carousel--tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  margin-top: 5rem;

  h2 {
    margin-left: 22rem;

    @include respond-to("medium") {
      margin: 0;
      text-align: center;
    }
  }
}

.cursor {
  margin-left: 0.4rem;
  border-right: 3px solid;
  width: 100%;
  animation: cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

/*  animation typing effect*/

@keyframes typing {
  from {
    width: 0;
  }
}

.blog { padding-block-end: 60px; }

.blog .title-wrapper {
  display: grid;
  gap: 50px;
  margin-block-end: 50px;
}

.blog .section-title { margin-block: 10px; }

.blog-list {
  display: grid;
  gap: 30px;
}

.blog-card .card-banner { border-top-left-radius: var(--radius-30); }

.blog-card:is(:hover, :focus-within) .img-cover { transform: scale(1.2); }

.blog-card .card-content {
  position: relative;
  margin-inline-start: 30px;
  margin-block-start: -40px;
  background-color: var(--white);
  padding: 30px 35px;
  box-shadow: var(--shadow);
  border-bottom-right-radius: var(--radius-30);
}

.blog-card .publish-date {
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: var(--yellow-green);
  color: var(--white);
  padding: 6px 25px;
  font-size: var(--fs-11);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  border-top-left-radius: var(--radius-15);
}

.blog-card .card-meta-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
}

.blog-card .card-meta-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.blog-card .card-meta-item ion-icon {
  color: var(--yellow-green);
  --ionicon-stroke-width: 50px;
}

.blog-card .card-meta-item .span { font-size: var(--fs-10); }

.blog-card .card-title {
  margin-block-start: 10px;
  transition: var(--transition-1);
}

.blog-card .card-title:is(:hover, :focus-visible) { color: var(--yellow-green); }


