---
import Title from "@src/components/atoms/Title/Title";
import CarrouselSkills from "@src/components/molecules/CarouselSkills/CarrouselSkills.astro";
import CarouselTools from "@src/components/molecules/CarouselTools/CarouselTools.astro";
import CardTerminal from "@molecules/CardTerminal/cardTerminal.astro";

import { userData } from "@data/userData";
import { skillsData } from "@data/skillsData";
import { toolsData } from "@data/ToolsData";
//const { data, skills, tools } = Astro.props;
---

<script>
  import { d } from "@src/controllers/TerminalSkills.controller";
</script>

<section class="skills" id="skills">
  <div class="skills__container">
    <Title titleDesc="Categorias" clase="title-dark" />
    <div class="container">
      <ul class="blog-list" data-reveal>
        <li>
          <div class="blog-card">
            <img
              src="./img/blog-1.jpg"
              loading="lazy"
              alt="Energy Star Certified Electric Vehicle Chargers"
              class="img-cover"
            />

            <div class="card-content">
              <time class="publish-date" datetime="2022-06-03">Bichitos</time>

              <h3 class="h5">
                <a href="#" class="card-title">
                  EEsta categoria presenta de sub 15 al 19 a単os
                </a>
              </h3>
            </div>
          </div>
        </li>
        <li>
          <div class="blog-card">
            <img
              src="./img/blog-1.jpg"
              loading="lazy"
              alt="Energy Star Certified Electric Vehicle Chargers"
              class="img-cover"
            />

            <div class="card-content">
              <time class="publish-date" datetime="2022-06-03">Bichitos</time>

              <h3 class="h5">
                <a href="#" class="card-title">
                  EEsta categoria presenta de sub 15 al 19 a単os
                </a>
              </h3>
            </div>
          </div>
        </li>
        <li>
          <div class="blog-card">
            <img
              src="./img/blog-1.jpg"
              loading="lazy"
              alt="Energy Star Certified Electric Vehicle Chargers"
              class="img-cover"
            />

            <div class="card-content">
              <time class="publish-date" datetime="2022-06-03">Bichitos</time>

              <h3 class="h5">
                <a href="#" class="card-title">
                  EEsta categoria presenta de sub 15 al 19 a単os
                </a>
              </h3>
            </div>
          </div>
        </li>
        <li>
          <div class="blog-card">
            <img
              src="./img/blog-1.jpg"
              loading="lazy"
              alt="Energy Star Certified Electric Vehicle Chargers"
              class="img-cover"
            />

            <div class="card-content">
              <time class="publish-date" datetime="2022-06-03">Bichitos</time>

              <h3 class="h5">
                <a href="#" class="card-title">
                  EEsta categoria presenta de sub 15 al 19 a単os
                </a>
              </h3>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="skills__carousel--tools">
      <Title titleDesc="Aspiciadores" clase="title-dark" />
      <CarouselTools toolsData={toolsData} />
    </div>
  </div>
</section>
