---
import Title from "@src/components/atoms/Title/Title";
import CarrouselSkills from "@src/components/molecules/CarouselSkills/CarrouselSkills.astro";
import CarouselTools from "@src/components/molecules/CarouselTools/CarouselTools.astro";
import CardTerminal from "@molecules/CardTerminal/cardTerminal.astro";

import { userData } from "@data/userData";
import { skillsData } from "@data/skillsData";
import { toolsData } from "@data/ToolsData";
//const { data, skills, tools } = Astro.props;
---

<script>
  import { d } from "@src/controllers/TerminalSkills.controller";
</script>

<section class="skills" id="skills">
  <div class="skills__container">
    <div class="skills__info">
      <div class="skills__textos">
        <Title titleDesc="Categorias" clase="title-dark" />
        <section class="section blog" aria-labelledby="blog-label">
          <div class="container">
            <div class="title-wrapper" data-reveal>
              <div>
                <p class="section-subtitle has-before" id="blog-label">
                  Fresh News
                </p>

                <h2 class="h2 section-title">
                  Our recent article for the electric vehicle systems
                </h2>
              </div>

              <a href="#" class="btn btn-secondary">
                <span class="span">View More Blog</span>

                <ion-icon name="arrow-forward-outline" aria-hidden="true"
                ></ion-icon>
              </a>
            </div>

            <ul class="blog-list" data-reveal>
              <li>
                <div class="blog-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 770; --height: 550;"
                  >
                    <img
                      src="./img/blog-1.jpg"
                      width="770"
                      height="550"
                      loading="lazy"
                      alt="Energy Star Certified Electric Vehicle Chargers"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <time class="publish-date" datetime="2022-06-03"
                      >03 Jun 2022</time
                    >

                    <ul class="card-meta-list">
                      <li class="card-meta-item">
                        <ion-icon name="person-outline" aria-hidden="true"
                        ></ion-icon>

                        <span class="span">Admin</span>
                      </li>

                      <li class="card-meta-item">
                        <ion-icon name="chatbubble-outline" aria-hidden="true"
                        ></ion-icon>

                        <span class="span">2 Comments</span>
                      </li>
                    </ul>

                    <h3 class="h5">
                      <a href="#" class="card-title">
                        Energy Star Certified Electric Vehicle Chargers
                      </a>
                    </h3>
                  </div>
                </div>
              </li>

              <li>
                <div class="blog-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 770; --height: 550;"
                  >
                    <img
                      src="./img/blog-2.jpg"
                      width="770"
                      height="550"
                      loading="lazy"
                      alt="Charging Solution For Electric Car & Hybrid Car"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <time class="publish-date" datetime="2022-06-03"
                      >03 Jun 2022</time
                    >

                    <ul class="card-meta-list">
                      <li class="card-meta-item">
                        <ion-icon name="person-outline" aria-hidden="true"
                        ></ion-icon>

                        <span class="span">Admin</span>
                      </li>

                      <li class="card-meta-item">
                        <ion-icon name="chatbubble-outline" aria-hidden="true"
                        ></ion-icon>

                        <span class="span">2 Comments</span>
                      </li>
                    </ul>

                    <h3 class="h5">
                      <a href="#" class="card-title">
                        Charging Solution For Electric Car & Hybrid Car
                      </a>
                    </h3>
                  </div>
                </div>
              </li>

              <li>
                <div class="blog-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 770; --height: 550;"
                  >
                    <img
                      src="./img/blog-3.jpg"
                      width="770"
                      height="550"
                      loading="lazy"
                      alt="Home Charging Station For A Electric Vehicless"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <time class="publish-date" datetime="2022-06-03"
                      >03 Jun 2022</time
                    >

                    <ul class="card-meta-list">
                      <li class="card-meta-item">
                        <ion-icon name="person-outline" aria-hidden="true"
                        ></ion-icon>

                        <span class="span">Admin</span>
                      </li>

                      <li class="card-meta-item">
                        <ion-icon name="chatbubble-outline" aria-hidden="true"
                        ></ion-icon>

                        <span class="span">2 Comments</span>
                      </li>
                    </ul>

                    <h3 class="h5">
                      <a href="#" class="card-title">
                        Home Charging Station For A Electric Vehicless
                      </a>
                    </h3>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
    <CarrouselSkills skillsData={skillsData} />
    <div class="skills__carousel--tools">
      <Title titleDesc="Tools" clase="title-dark" />
      <CarouselTools toolsData={toolsData} />
    </div>
  </div>
</section>
