@use "@sass/mixins" as *;
@use "@sass/variables" as *;

.card {
  height: 246px;
  border-radius: 15px;
  overflow: hidden;
  min-height: 250px;
  background: $black;
  color: $white;
  position: relative;
  width: 100%;
  .dark-mode & {
    border: 1px solid $yellow;
    filter: drop-shadow(0 0 1px $yellow);
  }
  &__img {
    height: 160px;
    width: 100%;
    object-fit: cover;
    -o-object-position: center 0;
    object-position: center 0;
  }
  &__cara--B {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: rgb(14 12 0 / 50%);
    backdrop-filter: blur(19px);
    transform: translateY(-6px);
    min-height: 254px;
    transition: transform 0.3s linear;
    padding: 4.2rem 2rem 0.2rem 2rem;
    .card__title {
      font-size: 2.1rem;
      text-align: left;
      @include text-gradient("ligth");
    }
  }
  &__description {
    width: 28rem;
    max-height: 9dvh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    transition: 0.35s height;
  }
  &__title,
  .card__description {
    transform: translateY(-37px);
    transition: transform 0.3s ease;
    text-align: justify;
  }
}
.card:hover .card__title {
  transform: translateY(0px);
}

.card:hover .card__description {
  transform: translateY(0px);
  overflow: auto;
  white-space: pre-line;
  height: 90px;
  max-height: 90px;
  width: 100%;
}

.card__description::-webkit-scrollbar {
  width: 0.5rem;
}
.card__description::-webkit-scrollbar-track {
  background: #010412;
}
.card__description::-webkit-scrollbar-thumb {
  background: $yellow;
}

.card__cara--B > *:not(:last-child) {
  margin-bottom: 1.2rem;
}

.card:hover .card__cara--B {
  transform: translateY(-164px);
}

.card__btn {
  font-size: 1.2rem;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  border: 1px solid $ufo-yellow;
}
.card__links {
  @include centerFlex(space-between);
  width: 100%;
  gap: 1rem;
  align-self: center;
  a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    &:hover {
      @include text-gradient("ligth");
    }
  }
}
