@import "@sass/mixins";
@import "@sass/variables";

.title {
  font-size: 45px;
  @include respond-to("medium") {
    font-size: 35px;
    display: flex;
    justify-content: center;
  }
}
.title-light {
  @include text-gradient("ligth");
}
.dark .title-light {
  @include text-gradient("dark");
}
.title-dark {
  @include text-gradient("dark");
}

.dark .title-dark {
  @include text-gradient("ligth");
  filter: drop-shadow(0 0 12px $yellow);
}
