@use "@sass/variables" as *;
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: $yellow;
  color: $mainColor;
  cursor: pointer;
  transition: border-color 0.25s;
  // Estilo para modo oscuro
  .dark-mode & {
    border: 2px solid $yellow;
    filter: drop-shadow(0 0 5px $yellow);
    color: $ufo-red;
  }
}
.year__btn.is-active {
  background: #04071a;
}
