@use "@sass/mixins" as *;
@use "@sass/variables" as *;

.about {
  width: 100%;
  padding-block: 10rem;
  writing-mode: horizontal-tb;
  @include centerFlex();
  flex-direction: column;
  color: $mainColor;
  &__container {
    max-width: 1300px;
    width: 100%;
    @include centerFlex(space-around);
    @include respond-to("medium") {
      flex-direction: column;
      gap: 3rem;
      padding: 0 2rem;
    }
    .about__profile {
      position: flex;

      @media screen and (max-width: 1194px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }

      .profile__box {
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
        border: 2px solid $cetacean-blue;
        overflow: hidden;
        // Estilo para modo oscuro
        .dark-mode & {
          border: 2px solid $yellow;
          filter: drop-shadow(0 0 12px $yellow);
        }
        @include respond-to("medium") {
          width: 100%;
          height: 100%;
          max-width: 25rem;
        }
        &:hover img {
          filter: saturate(0.45);
        }
        &__image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          aspect-ratio: 1 / 1;
        }
      }
    }
    .about__content {
      max-width: 532px;
      h3 {
        margin: 1rem 0;
        @include typography(2.4rem, normal, 700);
        @include text-gradient("dark");
      }
      .about__description {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        white-space: pre-line;
      }
    }
  }
}
.image-side {
  display: flex;
  justify-content: center;
}
.image__entrenamiento {
  width: 70%;
  height: 70%;
  object-fit: cover; /* Solo esquina superior izquierda curvada */
  border-top-left-radius: 50px; /* Las demás esquinas quedan rectas */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.descripcion__image {
  background: #000000a8;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 25rem;
  width: 20rem;
  margin-top: -20rem;
  margin-left: 30rem;
  gap: 9rem;
  border-top-left-radius: 0; /* Las demás esquinas quedan rectas */
  border-top-right-radius: 0;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 0;
  @include respond-to("medium") {
    height: 15rem;
    width: 14rem;
    margin-top: 17rem;
    margin-left: 14rem;
  }
  & h3 {
    color: #fff;
    font-size: 2rem;
    line-height: 1.6;
    text-align: center;
    padding: 4rem;
    font-family: cursive;
    font-style: italic;
    @include respond-to("medium") {
      font-size: 1.1rem;
      padding: 3rem;
    }
  }
}
