@use "@sass/mixins" as *;
@use "@sass/variables" as *;

.social {
  display: grid;
  place-items: center;
  width: 100%;
  padding-block: 15rem;
  writing-mode: horizontal-tb;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  min-height: 654px;
  gap: 2rem;
}
.social__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 3rem; /* separación vertical */
  column-gap: 2rem;
  justify-items: center;
  width: 100%;
}

.play-btn {
  display: inline-block;
  border-radius: 50%; /* mantiene el borde circular */
  animation: pulse 2s ease infinite;
  max-width: fit-content;
  max-height: fit-content;
  z-index: 4;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $aqua;
  }
  100% {
    box-shadow: 0 0 0 12px transparent;
  }
}

.badge {
  display: flex;
  position: absolute;
  top: 8rem;
  right: 12rem;
  align-items: center;
  background: white;
  padding: 15px 25px;
  border-radius: 2px;
  width: fit-content;
  height: fit-content;
  gap: 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  animation: bounce 2.5s infinite;
  z-index: 5;
}

/* Círculo rosado detrás del ícono */
.icon {
  background: #ffe6ee;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ícono */
.person-icon {
  font-size: 28px;
  color: #ff4f70;
}

/* Texto */
.text h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: #ff4f70;
}

.text p {
  margin: 0;
  font-size: 14px;
  letter-spacing: 1px;
  color: #6a6a6a;
}
@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}

.video-img {
  display: flex;
  position: absolute;
  background-color: red;
  width: 500px;
  height: auto;
  z-index: 2;
}

.video-card {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 100%;
  height: auto;
  padding-bottom: 8rem;
}

.video-banner {
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
