@use "@sass/mixins" as *;
@use "@sass/variables" as *;

#social {
  display: grid;
  place-items: center;
  width: 100%;
  padding-block: 15rem;
  writing-mode: horizontal-tb;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  min-height: 654px;
  background-color: #010412;
}
.social__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  overflow-x: hidden;
  gap: 1rem;
  place-content: center;
  align-content: center;
  padding: 20rem 2rem;
  width: 100%;
  @include respond-to("medium") {
    padding: 10rem 0rem;
  }

  @include respond-to("small") {
    grid-template-columns: 1fr;
    width: unset;
  }
}

.play-btn {
  display: inline-block;
  border-radius: 50%; /* mantiene el borde circular */
  animation: pulse 2s ease infinite;
  max-width: fit-content;
  max-height: fit-content;
  z-index: 4;
  color: $ufo-red;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $ufo-red;
  }
  100% {
    box-shadow: 0 0 0 12px transparent;
  }
}

.badge {
  display: flex;
  position: absolute;
  top: 8rem;
  right: 39rem;
  align-items: center;
  background: $white;
  padding: 15px 25px;
  border-radius: 2px;
  width: fit-content;
  height: fit-content;
  gap: 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  animation: bounce 2.5s infinite;
  z-index: 5;
  .dark-mode & {
    border: 1px solid $yellow;
    filter: drop-shadow(0 0 12px $yellow);
  }
  @include respond-to("medium") {
    top: 7rem;
    right: 26rem;
  }
}

/* Círculo rosado detrás del ícono */
.icon {
  background: #efcdd2;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include respond-to("medium") {
    width: 25px;
    height: auto;
  }
  & iconify-icon {
    color: $ufo-red;
  }
}

/* Ícono */
.person-icon {
  font-size: 28px;
  color: #ff4f70;
}

/* Texto */
.text h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: $ufo-red;
  @include respond-to("medium") {
    font-size: 17px;
  }
}

.text p {
  margin: 0;
  font-size: 14px;
  letter-spacing: 1px;
  color: #6a6a6a;
  @include respond-to("medium") {
    font-size: 12px;
  }
}
@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}

.video-img {
  display: flex;
  position: absolute;
  width: 500px;
  height: auto;
  z-index: 2;
  @include respond-to("medium") {
    width: 350px;
  }
}

.video-card {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 100%;
  height: auto;
  padding-bottom: 8rem;
}

.video-banner {
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-top {
  background-color: $white;
  position: absolute;
  top: -15rem;
  right: 3%;
  width: 155px;
  height: 232px;
  padding: 40px 20px;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  align-items: center;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  transition: transform 0.3s ease-in-out;
  .dark-mode & {
    border: 1px solid $yellow;
    filter: drop-shadow(0 0 12px $yellow);
  }
  @include respond-to("medium") {
    top: -14rem;
    right: 9%;
    width: 114px;
    height: 158px;
  }
  & img {
    @include respond-to("medium") {
      width: 5rem;
      height: auto;
    }
  }
}
.banner-top:hover {
  transform: scale(1.05);
}

.icon-top {
  width: 94px;
  height: 118px;
  border-radius: 50%;
  background: conic-gradient($ufo-red 0deg 270deg, transparent 270deg 360deg);
  position: relative;
}

.icon-top::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: $white; /* color del hueco */
}

.banner-top h2 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  color: $ufo-red;
  font-weight: 600;
  @include respond-to("medium") {
    font-size: 10px;
  }
}

.banner-top p {
  margin: 10px 0 0;
  font-size: 12px;
  font-weight: bold;
  color: $black;
  @include respond-to("medium") {
    font-size: 8.5px;
  }
}

//****************************
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.368627451);
  backdrop-filter: blur(11px);
  z-index: 9999;
}
.popup {
  background: $white;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  width: 70%;
  position: relative;
  .dark-mode & {
    background: #000000fa;
    border: 1px solid $yellow;
    filter: drop-shadow(0 0 12px $yellow);
  }
  @include respond-to("medium") {
    width: 94%;
  }
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
}
video {
  width: 100%;
  height: auto;
}
#openPopup {
  display: contents;
  z-index: 6;
}

#videoPlayer {
  z-index: 7;
  padding-top: 3rem;
}
