---
import Title from "@atoms/Title/Title";
import SocialCard from "@molecules/SocialCard/SocialCard.astro";
import ContactFormMain from "@molecules/ContactFormContent/ContactFormMain.astro";
import DiscordCardContent from "@molecules/DiscordCardContent/DiscordCardContent.astro";
//import SocialCard from "@molecules/SocialCard/SocialCard.astro";
import YoutubeCardContent from "@molecules/YoutubeCardContent/YoutubeCardContent.astro";
import ToastNotification from "@src/components/atoms/ToastNotification/ToastNotification.astro";
//import BlogPost from "@src/components/molecules/BlogPost/BlogPost";
import YoutubeModal from "@src/components/molecules/YoutubeModal/YoutubeModal.astro";
---

<section id="social" class="social">
  <Title titleDesc="Entrenamientos" clase="title-dark social__title" />
  <div class="social__grid">
    <div class="video-card">
      <div class="video-banner">
        <iconify-icon
          icon="iconamoon:play-circle-duotone"
          class="play-btn"
          width="40"
          height="40"
          style="color: #1afee4"></iconify-icon>
        <img
          src="img/video-banner.jpg"
          width="970"
          height="550"
          loading="lazy"
          alt="video banner"
          class="video-img"
        />
      </div>
      <div class="badge">
        <div class="icon">
          <iconify-icon
            icon="cuida:user-outline"
            width="24"
            height="24"
            style="color: #fe1a66"></iconify-icon>
        </div>
        <div class="text">
          <h2>30K+</h2>
          <p>VISITAS</p>
        </div>
      </div>
    </div>
    <div class="video-card">
      <div class="video-banner">
        <iconify-icon
          icon="iconamoon:play-circle-duotone"
          class="play-btn"
          width="40"
          height="40"
          style="color: #1afee4"></iconify-icon>
        <img
          src="img/video-banner.jpg"
          width="970"
          height="550"
          loading="lazy"
          alt="video banner"
          class="video-img"
        />
      </div>
      <div class="badge">
        <div class="icon">
          <iconify-icon
            icon="cuida:user-outline"
            width="24"
            height="24"
            style="color: #fe1a66"></iconify-icon>
        </div>
        <div class="text">
          <h2>30K+</h2>
          <p>VISITAS</p>
        </div>
      </div>
    </div>
    <div class="video-card">
      <div class="video-banner">
        <iconify-icon
          icon="iconamoon:play-circle-duotone"
          class="play-btn"
          width="40"
          height="40"
          style="color: #1afee4"></iconify-icon>
        <img
          src="img/video-banner.jpg"
          width="970"
          height="550"
          loading="lazy"
          alt="video banner"
          class="video-img"
        />
      </div>
      <div class="badge">
        <div class="icon">
          <iconify-icon
            icon="cuida:user-outline"
            width="24"
            height="24"
            style="color: #fe1a66"></iconify-icon>
        </div>
        <div class="text">
          <h2>30K+</h2>
          <p>VISITAS</p>
        </div>
      </div>
    </div>
    <div class="video-card">
      <div class="video-banner">
        <iconify-icon
          icon="iconamoon:play-circle-duotone"
          class="play-btn"
          width="40"
          height="40"
          style="color: #1afee4"></iconify-icon>
        <img
          src="img/video-banner.jpg"
          width="970"
          height="550"
          loading="lazy"
          alt="video banner"
          class="video-img"
        />
      </div>
      <div class="badge">
        <div class="icon">
          <iconify-icon
            icon="cuida:user-outline"
            width="24"
            height="24"
            style="color: #fe1a66"></iconify-icon>
        </div>
        <div class="text">
          <h2>30K+</h2>
          <p>VISITAS</p>
        </div>
      </div>
    </div>
  </div>
</section>
<ToastNotification />
