---
// Copyright (c) Pascal Brand
// MIT License
//
// Implementation of https://leafletjs.com/examples/mobile/ with astro-leaflet
//
// Differences:
// - skipping part of fullscreen

import { Leaflet, FitWorld, Locate } from "astro-leaflet";
---

<Leaflet id="map-mobile">
  <FitWorld />
</Leaflet>
<script>
  import { getMapFromId } from "astro-leaflet";
  import { getAstroLeafletMarkerDefaultIcon } from "astro-leaflet/client";
  import L from "leaflet";

  window.addEventListener("load", () => {
    const map = getMapFromId("map-mobile");

    if (map) {
      map.removeControl(map.attributionControl);
map.removeControl(map.zoomControl);
      // Centrar el mapa en las Canchas del Poeta
      const canchasDelPoeta = L.latLng(-16.502954, -68.128032);
      //map.setView(canchasDelPoeta, 17, { animate: false });
      map.setView(canchasDelPoeta, 17, { animate: false });
      // Agregar marcador en las Canchas del Poeta
      L.marker(canchasDelPoeta, { icon: getAstroLeafletMarkerDefaultIcon() })
        .addTo(map!)
        .bindPopup("Super Campeones")
        .openPopup();
      // Crear círculo con clase personalizada
      // Círculo fantasma para el pulso
      const pulseCircle = L.circle(canchasDelPoeta, {
        radius: 50,
        color: "#010412",
        weight: 15,
        fillColor: "rgba(0,0,255,0.3)",
        fillOpacity: 0.4,
        opacity: 0.8,
      }).addTo(map);
      let radius = 50;
      let maxRadius = 120; // hasta dónde se expande
      let step = 2;
      setInterval(() => {
        radius += step;
        if (radius >= maxRadius) {
          radius = 50; // reinicia el pulso
        }

        pulseCircle.setRadius(radius);
        // 🔑 Reforzar vista inicial al terminar de cargar
        map.setView(canchasDelPoeta, 17, { animate: false });

        /* map.whenReady(() => {
          map.setView(canchasDelPoeta, 17, { animate: false });
        });*/
        pulseCircle.setStyle({
          fillOpacity: 0.4 * (1 - (radius - 50) / (maxRadius - 50)), // se desvanece
          opacity: 0.8 * (1 - (radius - 50) / (maxRadius - 50)), // borde también se desvanece
        });
      }, 120);
L.marker(canchasDelPoeta)
  .addTo(map)
  .bindTooltip(`
    <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 5px;">
      <img src="img/entrenado.jpg" width="80" />
      <img src="img/entrenado.jpg" width="80" />
      <img src="img/entrenado.jpg" width="80" />
      <img src="img/entrenado.jpg" width="80" />
    </div>
  `, { direction: 'top' });


     // L.marker(canchasDelPoeta) .addTo(map) .bindPopup(` <div style="text-align:center"> <h4>Super Campeones</h4> <img src="img/entrenado.jpg" alt="Foto del lugar" width="200" /> </div> `);
    }
  });
</script>
<style>
  #map-mobile {
    width: 100%;
    height: 50vh; /* toda la altura de la ventana */
  }
</style>
