@use "@sass/mixins" as *;
@use "@sass/variables" as *;

.modal {
  position: fixed;
  top: 0;

  &__container {
    z-index: 9999;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 950px;
    max-height: 80dvh;
    width: 80%;
    height: 100%;
    background-color: $secundaryColor;
    color: $mainColor;
    border-radius: 10px;
    padding: 5rem 2rem 2rem 2rem;
    gap: 2rem;
    position: relative;
  }

  .close-btn {
    position: absolute; /* o relative si está dentro de un contenedor */
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.25rem 0.5rem;
    margin: 0; /* elimina cualquier margen */
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    z-index: 10; /* asegúrate que esté por encima pero no tape íconos */
  }

  .close-btn:focus {
    outline: none;
  }

  &__content {
    overflow-y: auto;
    padding-top: 2rem;
  }

  &__banner {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 40dvh;
    border-radius: 9px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    @include respond-to("medium") {
      display: unset;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    @include respond-to("medium") {
      height: 40%;
      object-fit: scale-down;
    }
  }
  &-thecnology {
    display: flex;
    position: absolute;
    justify-content: left;
    gap: 1rem;
    padding: 2rem 0rem 0rem 0rem;
    margin-top: -5rem;
  }
  &__desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 5rem;
    background: rgb(233 197 8 / 5%);
    width: 100%;
    @include respond-to("medium") {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-right: 0rem;
      margin-left: 0em;
    }
  }

  &__title {
    text-align: center;
    padding: 3rem;
    color: $ufo-red;
    @include typography(2.5rem, 1.5, 600);
    // Estilo para modo oscuro
    .dark-mode & {
      color: $yellow;
    }
    //@include text-gradient("dark");
    @include respond-to("medium") {
      font-size: 1.5rem;
      padding: 2rem;
    }
  }

  &__fragment {
    @include centerFlex(center, start);
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding: 0 1rem;
    @include typography(1.6rem, 1.5, 400);
    @include font-family("fira-code");
    @include respond-to("medium") {
      padding: 0 0 0 0;
    }

    & p:has(img) {
      margin-top: 2rem;
      max-width: 97rem;
      height: 100%;
      overflow: hidden;
      width: 100%;
      align-self: center;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 9px;
      aspect-ratio: 16/9;
    }
  }

  a {
    color: $mainColor;
  }
}

.modal__buttons {
  @include centerFlex(end);
  width: 100%;
  gap: 1rem;
  align-self: center;
  a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: white;
    font-size: 1.2rem;

    &:hover {
      @include text-gradient("ligth");
    }
  }
}

.modal-item {
  position: relative;
  animation:
    snakeWave 1s ease-in-out forwards 0.4s,
    floating 5s ease-in-out 1.2s infinite;
  display: inline-block;
  filter: drop-shadow(0 0 6px $yellow);
  .modal__tooltip {
    position: absolute;
    top: 110%; /* o top: 100% si quieres que aparezca debajo */
    left: 50%;
    transform: translateX(-50%);
    background-color: #010412;
    border: 1px solid $yellow;
    color: $yellow;
    padding: 6px 12px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:hover .modal__tooltip {
    opacity: 1;
  }
}

.modal.open {
  @include centerFlex();
  width: 100%;
  height: 100dvh;
  z-index: 9999;
  background: #0000005e;
  backdrop-filter: blur(11px);
}

.modal-item:nth-child(1) {
  animation-delay: 0s;
}
.modal-item:nth-child(2) {
  animation-delay: 0.2s;
}
.modal-item:nth-child(3) {
  animation-delay: 0.4s;
}

.modal__description {
  text-align: justify;
  font-size: 12px;
}

@keyframes snakeWave {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-12px);
  }
  50% {
    transform: translateY(6px);
  }
  75% {
    transform: translateY(-6px);
  }
}
