---

---

<dialog class="modal" id="portfolio-modal">
  <article class="modal__container">
    <iconify-icon
      class="close-btn"
      icon="line-md:close-circle-twotone"
      width="34"
      height="34"
      style="color: #d3231a"></iconify-icon>
    <div class="modal__content">
      <div class="modal-thecnology"></div>
      <div class="modal__banner">
        <img class="modal__image" alt="" src="" />
      </div>

      <div class="modal__desc">
        <h1 class="modal__title"></h1>
        <div class="modal__fragment"></div>
      </div>
    </div>
    <div class="modal__buttons">
      <button class="card__btn">
        <a
          class="modal__demo"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          Ver Demo
          <iconify-icon
            icon="quill:link-out"
            width="15"
            height="15"
            style="color: aqua"></iconify-icon>
        </a>
      </button>
      <button class="card__btn">
        <a
          class="modal__repo"
          href="#"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          Ver Repo
          <iconify-icon
            icon="quill:link-out"
            width="15"
            height="15"
            style="color: aqua"></iconify-icon>
        </a>
      </button>
    </div>
  </article>
</dialog>
